<link rel="stylesheet" href="../css/main.css">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-label/iron-label.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html" rel="import">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="Add-Company">


    <style>
        paper-toolbar.paper-toolbar-0 {
            background-color: black ;
        }

        :host {
            /* technical */
            display: block;
            text-decoration: none !important;
            position: relative;
            border-radius: 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            font-family: sans-serif;
            letter-spacing: 1px;
        }

        :host(.animate) {
            /* transition */
            transition: height 0.18s ease-in;
        }


        .toolbar-tools {
            position: relative;
            height: var(--paper-toolbar-height, 64px);
            padding: 0 16px;
            pointer-events: none
            @apply(--layout-horizontal);
        @apply(--layout-center);
        @apply(--paper-toolbar-content);
        }

        @media (max-width: 600px) {
            :host {
                height: var(--paper-toolbar-sm-height, 56px);
            }
        }

        .toolbar-tools > ::content paper-icon-button[icon=menu] {
            margin-right: 24px;
        }

    </style>

    <template>

        <paper-toolbar id="navbar" style="background-color: #000000">
            <!--<paper-icon-button icons="close" on-tap="menuAction">-->
            <a href="../index.html" style="text-decoration: none !important;">
                <iron-icon icon="icons:close" style="text-decoration: none !important;color: white;"></iron-icon>
            </a>

            <!--</paper-icon-button>-->
            <div class="title" style="font-size:19px;">Add Company</div>
            <!--<paper-icon-button icon="more-vert" on-tap="moreAction"></paper-icon-button>-->
        </paper-toolbar>

        <!--contentType="application/json"-->
        <iron-ajax
                id="ajax"
                url="http://localhost:27010/addCompany"
                method="POST"
                content-type="application/json"
                body="{{ajaxParams}}">
            <!--handle-as="json"-->
            <!--on-response="hresponse">-->
            <!--body='{{ajaxParams}}'-->

            <!--last-response="{{ data }}" >-->
        </iron-ajax>


        <form is="iron-form" id="form1" class="form" method="post" action="/form/handler">

            <!--<label for="name" class="label">Name</label>-->
            <!--<iron-label for="name">Name</iron-label>-->
            <paper-input name="name" id="name" label="name" value=""></paper-input>

            <!--<iron-label for="email">Email</iron-label>-->

            <paper-input type="file" name="image" id="image" label="image" value=""></paper-input>

            <!--<iron-label for="mobile">Mobile</iron-label>-->
            <paper-input name="contact" id="contact" label="contact"></paper-input>

            <!--<iron-label for="address">Address</iron-label>-->
            <paper-input name="address" id="address" label="address"></paper-input>

            <paper-button raised on-click="submitForm" class="submitButton">Submit</paper-button>

        </form>

    </template>

    <script>

        Polymer({
            is: "Add-Company",

            submitForm: function () {

                this.$.ajax.body = JSON.stringify({
                    "name1" : document.getElementById("name").value,
                    "image" : document.getElementById("image").value,
                    "contact" : document.getElementById("contact").value,
                    "address" : document.getElementById("address").value
                });

                this.$.ajax.generateRequest();

                window.location.href = 'http://localhost:63342/polymer1/src';

            }

        });

    </script>


</dom-module>

<Add-Company></Add-Company>

