<link rel="stylesheet" href="../css/main.css">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-label/iron-label.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="Company-Details" >


    <style>


    </style>

    <template>

        <paper-toolbar id="navbar" style="background-color: #000000">
            <!--<paper-icon-button icons="close" on-tap="menuAction">-->
            <a href=".." style="text-decoration: none !important;">
                <iron-icon icon="icons:close" style="text-decoration: none !important;color: white;"></iron-icon>
            </a>

            <!--</paper-icon-button>-->
            <div class="title" style="font-size:19px;">Company Details</div>
            <!--<paper-icon-button icon="more-vert" on-tap="moreAction"></paper-icon-button>-->
            <paper-button on-click="enableFields">EDIT</paper-button>
        </paper-toolbar>

        <form is="iron-form" id="form" class="form" method="post" action="/form/handler">


            <iron-ajax
                    auto
                    id="ajax"
                    url="http://localhost:27010/companyList"
                    params='{{params}}'
                    method="GET"
                    handle-as="json"
                    on-response="handleResponse"
                    last-response="{{ data }}" >
                <!--on-response="handleResponse"-->

            </iron-ajax>

            <!-- POST request for updating company details-->

            <iron-ajax
                    id="ajax"
                    url="http://localhost:27010/updateCompany"
                    method="POST"
                    content-type="application/json"
                    body="{{ajaxParams}}">
                <!--handle-as="json"-->
                <!--on-response="hresponse">-->
                <!--body='{{ajaxParams}}'-->

                <!--last-response="{{ data }}" >-->
            </iron-ajax>



            <template is="dom-repeat" items="{{ data }}">

                <paper-input name="name" id="name" label="name" value="{{ item.name }}" disabled></paper-input>

                <!--<iron-image src="{{ item.image }}" style="height: 300px; width: 300px;" sizing:contain></iron-image>-->
                <paper-input name="image" id="image" label="image" value="{{ item.image }}" disabled></paper-input>

                <paper-input name="contact" id="contact" label="contact" value="{{ item.contact }}" disabled></paper-input>

                <paper-input name="address" id="address" label="address" value="{{ item.address }}" disabled></paper-input>

                <paper-button raised class="submitButton" on-click="submitForm" id="submit" disabled>Submit</paper-button>

            </template>

        </form>

        <!--<iron-image src="http://localhost:63342/polymer1/src/img/placeholder-1.png.1236x617_default.png" style="height: 300px; width: 300px;" sizing:contain></iron-image>-->

    </template>


    <script>

        Polymer({
            is: "Company-Details",

            ready : function(){
                var company_name =  localStorage.getItem("company_name");

                console.log("company_name in form is : " + company_name);

                // Set parameters
                this.params = {
//                    type: 'string',
                    name: company_name
                }
                // Run ajax
                this.$.ajax.generateRequest();
            },

            enableFields : function(){
//               var id=  $('paper-input').attr('id');

                var name = document.querySelector('#name');
                name.removeAttribute("disabled");

                var image = document.querySelector('#image');
                image.removeAttribute("disabled");

                var contact = document.querySelector('#contact');
                contact.removeAttribute("disabled");

                var address = document.querySelector('#address');
                address.removeAttribute("disabled");

                var submit = document.querySelector('#submit');
                submit.removeAttribute("disabled");
            },

//            Updating company details

            submitForm: function () {

                this.$.ajax.body = JSON.stringify({
                    "name" : document.getElementById("name").value,
                    "image" : document.getElementById("image").value,
                    "contact" : document.getElementById("contact").value,
                    "address" : document.getElementById("address").value
                });

                this.$.ajax.generateRequest();

                window.location.href = 'http://localhost:63342/polymer1/src';

            }


        });


    </script>

</dom-module>




<Company-Details></Company-Details>

