<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

        <!-- CSS link -->
<link rel="stylesheet" href="../css/main.css">


        <!--  Dom module-->

<dom-module id="Company-List">

    <style>

        paper-toolbar.paper-toolbar-0 {
            background-color: black ;
        }

        paper-item.paper-item-0 {
            display: block;
            padding: 18px;
            text-align: left;
            height: 26px;
            min-height: 27px;
            font-size: 18px;
            cursor: pointer;
        }

        paper-fab.addButton {
            --paper-fab-background: black;
            --paper-fab-keyboard-focus-background: black;
            bottom: 20px;
            float: right;
            right: 20px;
            position: fixed;
        }

        #mainContainer.paper-header-panel {
            background-color: rgb(204, 204, 204);
        }

        .paper-header-panel-0 .mainPanel.paper-header-panel {
            border-right: 1px solid grey;
        }

        span.ListButton{
            display: inline-block;
            font-size: 15px;
            float: right;
            padding: 15px 5px;
            text-decoration:underline;
        }

        paper-item:hover{
            background-color: rgb(204, 204, 204);
        }

        --paper-menu-selected-item {
             background-color: rgb(204, 204, 204);
             cursor: pointer;
         }

    </style>

    <template>

        <paper-drawer-panel responsive-width="768px">
            <paper-header-panel drawer>
                <paper-toolbar id="navbar">

                    <div class="companyList">Company List</div>

                </paper-toolbar>


                <paper-menu>

                    <a href=".." style="text-decoration: none !important;color: black">
                        <paper-item class="custom">Company</paper-item>
                    </a>

                    <a style="width: auto;">
                        <paper-item class="custom" >Contact Us</paper-item>
                    </a>

                    <a style="width: auto;">
                        <paper-item class="custom" >Logout</paper-item>
                    </a>


                </paper-menu>

            </paper-header-panel>
            <paper-header-panel main>
                <paper-toolbar>
                    <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                </paper-toolbar>

                <!-- Content in the page goes here   -->

                <iron-ajax
                        auto
                        id="ajax"
                        url="http://localhost:27010/companyList"
                        method="GET"
                        handle-as="json"
                        last-response="{{ data }}" >
                </iron-ajax>

                <template is="dom-repeat" items="{{ data }}">

                    <div class="layout horizontal wrap around-justfied DetailsBlock">

                        <img src="{{ item.image }}"  class="ImageIcon">
                        <a href="../views/EmployeeList.html" style="text-decoration: none; color: black;cursor: pointer">
                            <div class="ClientDetails">

                                    <p on-click="storeName" id="{{ item.name }}" style="display: inline-block">{{ item.name }}</p>

                                    <a href="../views/CompanyDetails.html" style="text-decoration: none; color: black">
                                        <!--<span class="ListButton" on-click="storeName" id="{{ item.name }}" >Edit Info</span>-->
                                        <iron-icon icon="editor:mode-edit" class="ListButton" style="text-decoration: none !important;float: right;margin: 13px"></iron-icon>
                                    </a>
                                    <!--<a href="../views/EmployeeList.html" style="text-decoration: none; color: black">-->
                                        <!--<span on-click="storeName" id="{{ item.name }}" class="ListButton">Employee List</span>-->
                                    <!--</a>-->
                            </div>
                        </a>

                    </div>
                </template>

                <a href="../views/addCompany.html">
                    <paper-fab icon="add" class="addButton" ></paper-fab>
                </a>


                <!--   Pagination  -->

                <!--<iron-pages selected="0">-->
                    <!--<div>One</div>-->
                    <!--<div>Two</div>-->
                    <!--<div>Three</div>-->
                <!--</iron-pages>-->


            </paper-header-panel>

        </paper-drawer-panel>


    </template>

    <script>

        Polymer({
            is : "Company-List",

            storeName : function(e){
                var name = e.target.getAttribute('id');
                console.log("name is :" + name);
                localStorage.setItem("company_name", name);
            }
        });

        //            script for pagination
//        document.addEventListener('click', function(e) {
//                    var pages = document.querySelector('iron-pages');
//                    pages.selectNext();
//                }
//        )

    </script>

</dom-module>