<link rel="stylesheet" href="../css/main.css">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-label/iron-label.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="Client-Details">

    <template>

        <paper-toolbar id="navbar" style="background-color: #000000">
            <!--<paper-icon-button icons="close" on-tap="menuAction">-->
            <a href="../views/EmployeeList.html" style="text-decoration: none !important;">
                <iron-icon icon="icons:close" style="text-decoration: none !important;color: white;"></iron-icon>
            </a>

            <!--</paper-icon-button>-->
            <div class="title" style="font-size:19px;">Employee Details</div>

            <paper-button on-click="enableFields">EDIT</paper-button>
            <!--<paper-icon-button icon="more-vert" on-tap="moreAction"></paper-icon-button>-->
        </paper-toolbar>

        <form is="iron-form" id="form" class="form" method="post" action="/form/handler">


            <iron-ajax
                    auto
                    id="ajax"
                    url="http://localhost:27010/clientDetails"
                    params='{{params}}'
                    method="GET"
                    handle-as="json"
                    on-response="handleResponse"
                    last-response="{{ data }}" >
                <!--on-response="handleResponse"-->

            </iron-ajax>

            <!-- API request to update employee details-->


            <iron-ajax
                    id="ajax"
                    url="http://localhost:27010/updateEmployee"
                    method="POST"
                    content-type="application/json"
                    body="{{ajaxParams}}">
                <!--handle-as="json"-->
                <!--on-response="hresponse">-->
                <!--body='{{ajaxParams}}'-->

                <!--last-response="{{ data }}" >-->
            </iron-ajax>



            <template is="dom-repeat" items="{{ data }}">

                    <paper-input name="name" id="name" label="name" value="{{ item.name }}" disabled></paper-input>

                    <paper-input name="email" id="email" label="email" value="{{ item.email }}" disabled></paper-input>

                    <paper-input name="mobile" id="mobile" label="mobile" value="{{ item.mobile }}" disabled></paper-input>

                    <paper-input name="company" id="company" label="company" value="{{ item.company }}" disabled></paper-input>

                    <paper-input name="address" id="address" label="address" value="{{ item.address }}" disabled></paper-input>

                    <paper-input name="city" id="city" label="city" value="{{ item.city }}" disabled></paper-input>

                    <paper-button raised on-click="submitForm" class="submitButton" id="submit" disabled>Submit</paper-button>

            </template>

        </form>
    </template>


    <script>

        Polymer({
            is: "Client-Details",

            ready : function(){
                var email =  localStorage.getItem("client_email");

                console.log("email in form is : " + email);

                // Set parameters
                this.params = {
//                    type: 'string',
                    email: email
                }
                // Run ajax
                this.$.ajax.generateRequest();
            },

            enableFields : function(){
//               var id=  $('paper-input').attr('id');

                var name = document.querySelector('#name');
                name.removeAttribute("disabled");

//                var email = document.querySelector('#email');
//                email.removeAttribute("disabled");

                var mobile = document.querySelector('#mobile');
                mobile.removeAttribute("disabled");

                var company = document.querySelector('#company');
                company.removeAttribute("disabled");

                var city = document.querySelector('#city');
                city.removeAttribute("disabled");

                var address = document.querySelector('#address');
                address.removeAttribute("disabled");

                var submit = document.querySelector('#submit');
                submit.removeAttribute("disabled");
            },

//            Updating employee details

            submitForm: function () {

                this.$.ajax.body = JSON.stringify({
                    "name" : document.getElementById("name").value,
                    "email" : document.getElementById("email").value,
                    "mobile" : document.getElementById("mobile").value,
                    "company" : document.getElementById("company").value,
                    "address" : document.getElementById("address").value,
                    "city" : document.getElementById("city").value
                });


                this.$.ajax.generateRequest();

                window.location.href = 'http://localhost:63342/polymer1/src/views/EmployeeList.html';



            }




        });


    </script>

</dom-module>




<Client-Details></Client-Details>

