<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">



<link rel="stylesheet" href="../css/main.css">


<dom-module id="Client-List" attributes="bgcolor">


        <style>

                paper-toolbar.paper-toolbar-0 {
                    background-color: black ;
                }

                /*:host {*/
                    /* technical */
                    /*display: block;*/
                    /*text-decoration: none !important;*/
                    /*position: relative;*/
                    /*border-radius: 2px;*/
                    /*box-sizing: border-box;*/
                    /*top:0;*/
                    /*left: 0;*/
                    /*-moz-box-sizing: border-box;*/
                    /*font-family: sans-serif;*/
                    /*letter-spacing: 1px;*/
                    /*background: var(--paper-toolbar-background, --default-primary-color);*/
                    /*color: var(--paper-toolbar-color, --text-primary-color);*/
                /*@apply(--paper-toolbar);*/
                /*}*/

                /*:host(.animate) {*/
                    /* transition */
                    /*transition: height 0.18s ease-in;*/
                /*}*/


                /*.toolbar-tools {*/
                    /*position: relative;*/
                    /*height: var(--paper-toolbar-height, 64px);*/
                    /*padding: 0 16px;*/
                    /*pointer-events: none;*/
                /*@apply(--layout-horizontal);*/
                /*@apply(--layout-center);*/
                /*@apply(--paper-toolbar-content);*/
                /*}*/

                /*@media (max-width: 600px) {*/
                    /*:host {*/
                        /*height: var(--paper-toolbar-sm-height, 56px);*/
                    /*}*/
                /*}*/

                /*.toolbar-tools > ::content paper-icon-button[icon=menu] {*/
                    /*margin-right: 24px;*/
                /*}*/

                paper-fab.addButton {
                    --paper-fab-background: black;
                    --paper-fab-keyboard-focus-background: black;
                    bottom: 20px;
                    float: right;
                    right: 20px;
                    position: fixed;
                }

                /*paper-menu.dropdown-content {*/
                /*--paper-dropdown-menu: {*/
                     /*width: 800px;*/
                 /*};*/
                /*}*/

                /*paper-material.dropdown-content {*/
                    /*left: 35px;*/
                    /*top: 40px;*/
                /*}*/

                paper-item:hover{
                    background-color: rgb(204, 204, 204);
                }

        </style>

    <template>

        <paper-drawer-panel responsive-width="768px">
            <paper-header-panel drawer>
                <paper-toolbar id="navbar">

                    <a href=".." style="text-decoration: none !important;">
                        <iron-icon icon="icons:arrow-back" style="text-decoration: none !important;color: white;"></iron-icon>
                    </a>
                    <div class="title" style="font-size:19px;margin-left: 10px">Employee - {{ company_name }}</div>

                </paper-toolbar>


                <paper-menu>

                    <a href=".." style="text-decoration: none !important;color: black">
                        <paper-item toggles class="custom">Company</paper-item>
                    </a>

                    <a style="width: auto;">
                        <paper-item toggles class="custom" >Contact Us</paper-item>
                    </a>

                    <a style="width: auto;">
                        <paper-item toggles class="custom" >Logout</paper-item>
                    </a>


                </paper-menu>


            </paper-header-panel>
            <paper-header-panel main>
                <paper-toolbar>
                    <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                </paper-toolbar>

                <!-- Content in the page goes here   -->

                <iron-ajax
                        auto
                        id="ajax"
                        url="http://localhost:27010/clientDetails"
                        method="GET"
                        params='{{params}}'
                        handle-as="json"
                        last-response="{{ data }}" >
                </iron-ajax>

                <template is="dom-repeat" items="{{ data }}">

                    <div class="layout horizontal wrap around-justfied DetailsBlock">

                        <img src="../img/placeholder-1.png.1236x617_default.png"  class="ImageIcon">
                        <div class="ClientDetails">
                            <a href="EmployeeDetails.html"  style="text-decoration: none; color: black">
                                <p on-click="storeName" id="{{ item.email }}">{{ item.name }}</p>
                            </a>
                        </div>

                    </div>
                </template>

                <a href="AddEmployee.html">
                    <paper-fab icon="add" class="addButton"></paper-fab>
                </a>

            </paper-header-panel>

        </paper-drawer-panel>

    </template>

    <script>

        Polymer({
            is : "Client-List",

            properties:{
                 company_name : {
                     type : String,
                     value : localStorage.getItem("company_name")
                 }
            },

            ready : function(){
                var company_name =  localStorage.getItem("company_name");

                // Set parameters
                this.params = {
//                    type: 'string',
                    company: company_name
                }
                // Run ajax
                this.$.ajax.generateRequest();
            },

            storeName : function(e){
                var email = e.target.getAttribute('id');
                console.log("Email is :" + email);
                localStorage.setItem("client_email", email);
            }

        });

    </script>

</dom-module>

<Client-List></Client-List>