<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">

<link rel="stylesheet" href="../src/css/main.css">

<dom-module id="drawer-panel">


    <style>

        paper-toolbar.paper-toolbar-0 {
            background-color: black ;
        }


    </style>

    <template>

        <paper-drawer-panel responsive-width="800px">
            <paper-header-panel drawer>
                <paper-toolbar id="navbar">

                    <!--<a href=".." style="text-decoration: none !important;color: #ffffff">-->
                        <!--<paper-item >Company</paper-item>-->
                    <!--</a>-->
                    <!--<a style="width: auto;">-->
                        <!--<paper-item>Contact Us</paper-item>-->
                    <!--</a>-->
                    <!--<a style="width: auto;">-->
                        <!--<paper-item>Logout</paper-item>-->
                    <!--</a>-->

                </paper-toolbar>


                <a href=".." style="text-decoration: none !important;color: black">
                    <paper-item >Company</paper-item>
                </a>
                <a style="width: auto;">
                    <paper-item>Contact Us</paper-item>
                </a>
                <a style="width: auto;">
                    <paper-item>Logout</paper-item>
                </a>



            </paper-header-panel>
            <paper-header-panel main>
                <paper-toolbar>
                    <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                    <div class="companyList">Company List</div>
                </paper-toolbar>


                <!-- Content in the page goes here   -->

                <iron-ajax
                        auto
                        id="ajax"
                        url="http://localhost:27010/companyList"
                        method="GET"
                        handle-as="json"
                        last-response="{{ data }}" >
                </iron-ajax>

                <template is="dom-repeat" items="{{ data }}">

                    <div class="layout horizontal wrap around-justfied DetailsBlock">

                        <img src="{{ item.image }}"  class="ImageIcon">
                        <div class="ClientDetails">
                            <a href="../src/views/EmployeeList.html"  style="text-decoration: none; color: black"><p on-click="storeName" id="{{ item.name }}">{{ item.name }}</p></a>
                        </div>

                    </div>
                </template>

                <a href="../views/addCompany.html">
                    <paper-fab icon="add" class="addButton" style="background: black;"></paper-fab>
                </a>



            </paper-header-panel>

        </paper-drawer-panel>

    </template>


    <script>

        Polymer({
            is : "drawer-panel",

            storeName : function(e){
                var name = e.target.getAttribute('id');
                console.log("name is :" + name);
                localStorage.setItem("company_name", name);
            }

        });

    </script>

</dom-module>

<drawer-panel></drawer-panel>