<link rel="import" href="../bower_components/polymer/polymer.html">
<!--<link rel="import" href="../bower_components/iron-component-page/iron-component-page.html">-->
<!--<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">-->


    <!--------- Declarative portion --------->

<dom-module id="picture-frame">


    <template id="template-me">
    <style id="template-style">
        div {
            color: red;
            font-size: 30px;
            font-weight: 800;
            margin: 5px;
        }

        .imageBlock {
            background-image: url("img/tile-wide.png");
            background-repeat: no-repeat;
            height: 200px;
            width: 400px;
            background-size: 100% 100%;
            /*float: left;*/
            margin: 5px;
        }

        .inputImage {
            /*height: 30px;*/
            margin: 5px;
            padding: 5px;
        }

    </style>

    <!--<template id="template-me">-->
        <div id="textDiv">This is local DOM</div>
        <div owner="Madhu">This is {{ owner }}.</div>
        <input type="text" is="iron-input" class="inputImage" bind-value="{{ owner }}" placeholder="{{ owner }}" />
        <div class="imageBlock"></div>
    </template>

    <!--<script>-->
        <!--Polymer({-->
<!--//            is: "picture-frame"-->

            <!--is: "proto-element"-->
            <!--// add a callback to the element's prototype-->
<!--//            ready: function() {-->
<!--//                this.textContent = "This is my first polymer web page"-->
<!--//            }-->

        <!--});-->

        <!--Polymer({is: "picture-frame",template: "template-me", style:"template-style"});-->
    <!--</script>-->

</dom-module>



     <!-------- Imperative portion -------->
<script>
   ElementConstr =  Polymer({
         is : "picture-frame",

         properties : {
            owner : {
                type : String,
                value : "Madhavi"
            }
         },

       ready : function(){
           this.$.textDiv.textContent = "This div is updated dynamically";
           this.name = "Madhavi Shinde";
       }
   });

//   instance with a createElement method...
    var element1 = document.createElement("picture-frame");

//    with a constructor...
    var element2 = new ElementConstr();

</script>





        <!-- Using Observers -->



<dom-module id="x-sub-property-observer">

    <template>
        <div class=""> Sub-property is updated via property binding.</div>
        <!--<input value="{{user.name::input}}">-->
        <input class="FirstName" value="{{user.name.first::input}}" placeholder="First Name">
        <input class="LastName" value="{{user.name.last::input}}" placeholder="Last Name">


        <style>
            .FirstName, .LastName {
                width: 60%;
                margin: 10px;
            }
        </style>


    </template>


    <script>
        Polymer({
            is: 'x-sub-property-observer',
            properties: {
                user: {
                    type: Object,
                    value: function() {
//                        return {};
                        return {'name':{}};
                    }
                }
            },
            // Each item of observers array is a method name followed by
            // a comma-separated list of one or more paths.
            observers: [
                'userNameChanged(user.name.*)'
            ],
//        // Each method referenced in observers must be defined in
//        // element prototype. The argument to the method is the new value
//        // of the sub-property.
            userNameChanged: function(NameRecord) {
//                console.log('new name: ' + name);
                console.log('path: ' + NameRecord.path);
                console.log('value: ' + NameRecord.value);
            }
        });
    </script>

</dom-module>

        <!-- DOM module for listing items -->

<dom-module id="table-content">

    <template is="dom-bind">
        <iron-ajax url="../src/data.json" last-response="{{ data }}" auto></iron-ajax>

        <iron-list items="[[ data ]]" as="item">

            <template>
                <div>
                    Name : <span> [[ item.name ]] </span>
                </div>
            </template>

        </iron-list>

        <!--<style>-->
            <!--iron-list {-->
            <!----iron-list-items-container: {-->
                 <!--margin: auto;-->
             <!--};-->
            <!--}-->
        <!--</style>-->

    </template>


    <script>

        Polymer({
            is : "table-content"
        })

//        document.querySelector('iron-list').fire('iron-resize');

    </script>

</dom-module>


<dom-module id="x-custom">

    <template>

        <style shim-shadowdom>

            body /deep/ h2 {
                            color: green;
                font-weight: 100;
            }

            :host {
                text-transform: uppercase;
                color: red;
                background-color: #000000;
                font-weight: 100;
            }

            /* Apply custom theme to toolbars */
            :host(my-toolbar:host) {
               color : white;
               text-transform: uppercase;

            /*--my-toolbar-theme: {*/
                 /*background-color: green;*/
                 /*border-radius: 4px;*/
                 /*border: 1px solid gray;*/
             /*};*/

            /*--my-toolbar-title-theme: {*/
                 /*color: green;*/
             /*};*/


            }



            #normal ::content, #special ::content {
                font-size: 20px;
                font-weight: 300;
                border: 1px solid greenyellow;
                padding: 10px;
                height: 20px;
                text-align: center;
                width: 587px;
                margin-bottom: 10px;
            }

            button {
                width: 100px;
                height: 30px;
                background-color: rgb(224, 133, 36);
                box-shadow: none;
                border: none;
                /*color: red;*/
                font-size: 15px;
                cursor: pointer;
            }

            /*#buttonClick {*/
                /*--custom-color: red;*/
            /*}*/

            my-toolbar {
                border: 1px solid #808080;
                padding: 6px 40px;
            }

        </style>


        <div id="normal"><h3>I will respond to a tap on any of ma children!</h3></div>

        <div id="special"><h3>I'm special!</h3></div>

        <my-toolbar title="This one is green." id="MyToolbar">Hiii</my-toolbar>

        <button id="buttonClick" on-click="clickFunction">Click Button</button>

        <!--<my-toolbar title="This one is green too.">Hiiee</my-toolbar>-->

    </template>

    <script>

        Polymer({
           is : "x-custom",

            listeners : {
                'normal.tap':'regularTap'
//                'special.tap' :'specialTap'
            },

            regularTap : function(e){
                alert("Normal button tap");
            }

//            specialTap : function(e){
//                alert("special tap");
//            },

//            clickFunction : function(e, detail){
////                alert("On-click function");
////                this.customStyle['--my-toolbar-color'] = 'blue';
////                Polymer.updateStyles();
//
//                this.fire('kick', {kicked: true});
//            }

        });

//        document.querySelector('x-custom').addEventListener('kick', function (e) {
//            console.log("e.detail.kicked : " +e.detail.kicked); // true
//        })

    </script>

</dom-module>




